.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poke-moves {
  display: grid;
  grid-template-columns: repeat(4, 15em);
  gap: 1em;
  justify-items: center;
}

.poke-button {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em;
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  font-size: 1.2em;
  background-image: linear-gradient(#61dafb, white);
}

.text-input {
  font-size: 1.2em;
  border-radius: 40px;
  margin-right: 2em;
  padding: 0.5em;
  border-color: blue;
}

.catch {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 30px;
  border-color: blue;
}

.catch-text {
  text-align: center;
}

.city {
  margin: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: blue;
  background-image: linear-gradient(#61dafb, white);
}

.best {
  margin-right: 3em;
}

.best:hover,
.caught:hover {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration-color: #f0e4a0;
  text-decoration-thickness: 0.2em;
}

.caught {
  margin-left: 3em;
}

.pokemon {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.2em;
}

@media (min-width: 420px) {
  .whole-page {
    width: 100%;
  }
  .pokemon {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
  }
  .best {
    margin-right: 0;
  }
  .caught {
    margin-left: 0;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  header h1 {
    margin-left: 1em;
  }
  .poke-button,
  .city {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catch {
    width: 10em;
  }
  .poke-moves {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
  }
  .favourite {
    text-align: center;
  }
  .favourite ul {
    padding: 0;
  }
  .fav-item {
    list-style: none;
  }
  .text-input {
    margin-right: 0;
  }
  .footer {
    text-align: center;
  }
  .catch-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}

@media (min-width: 700px) {
  .poke-button {
    display: grid;
    grid-template-columns: repeat(2, 12em);
    justify-content: center;
  }
  .poke-moves {
    display: grid;
    grid-template-columns: repeat(2, 15em);
    grid-gap: 1em;
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  header img {
    height: 15em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (min-width: 1200px) {
  /* .poke-button {
    margin: 0 3em;
  }
  .moves {
    margin: 0 1em;
  }
  .poke-moves {
    display: grid;
    grid-template-columns: repeat(5, 10em);
    gap: 1em;
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 1em;
  } */
/* .poke-moves {
  display: grid;
  grid-template-columns: repeat(6, 10em);
}

.poke-button {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em;
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  font-size: 1.2em;
  background-image: linear-gradient(#61dafb, white);
}

.text-input {
  font-size: 1.2em;
  border-radius: 40px;
  margin-right: 2em;
  padding: 0.5em;
  border-color: blue;
}

.catch {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 30px;
  border-color: blue;
}

.catch-text {
  text-align: center;
}

.city {
  margin: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: blue;
  background-image: linear-gradient(#61dafb, white);
}

.best {
  margin-right: 3em;
}

.best:hover,
.caught:hover {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration-color: #f0e4a0;
  text-decoration-thickness: 0.2em;
}

.caught {
  margin-left: 3em;
}

.pokemon {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.2em;
} */
/* }  */
